# ---- MCreator Files -----

# Gradle build system ignores
.gradle/
build/
gradle/
gradle.properties

# Other IDE related folders
.idea/
.eclipse/
.settings/
.classpath
.project

# MCreator workspace
.mcreator/

# Minecraft client/server files
run/

# ---- MacOS system files ----
.DS_STORE
.DS_Store
.DS_store
**/.DS_Store
**/.DS_STORE
**/.DS_store
__MACOSX/
.AppleDouble
.LSOverride
Icon[
]

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
